/* Colour scheme */
:root {
  --page-background: #f2f2f2;
  --bracket-background: #4b4b4b;

  --name-container-background: #222222;
  --score-container-background: #2f2f2f;
  --winner-score-background: #d97754;

  --name-score-separator: #202020;

  --name-text: #ebebeb;
  --score-text: #bebebe;
  --winner-score-text: #333333;
  --round-name-text: #ebebeb;

  --connector-line: #ebebeb;
  --line-thickness: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: var(--page-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: auto;
  height: 100%;
}

#connector {
  position: absolute;
  display: block;
  overflow: visible;
}

#connector>line {
  stroke: var(--connector-line);
  stroke-width: var(--line-thickness);
}